In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error

In [36]:

df=pd.read_csv("student-mat.csv")

In [37]:
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [38]:
df['school'] = df['school'].map({'GP':1, 'MS':0})
df["sex"]=df["sex"].map({"F":0,"M":1})
df["address"]=df["address"].map({"U":0,"R":1})
df["famsize"]=df["famsize"].map({"LE3":1,"GT3":0})
df["Pstatus"]=df["Pstatus"].map({"T":1,"A":0})
df["Mjob"]=df["Mjob"].map({"teacher":0,"health":1,"services":2,"at_home":3,"other":4})
df["Fjob"] = df["Fjob"].map({"teacher":0,"health":1,"services":2,"at_home":3,"other":4})
df["reason"]=df["reason"].map({"home":0,"reputation":1,"course":2,"other":3})
df["guardian"]=df["guardian"].map({"mother":0,"father":1,"other":2})

In [54]:
model=LogisticRegression(max_iter=5000)
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:-1].values,df["G3"],random_state=50,train_size=0.9)
train_mode=model.fit(x_train,y_train.values.ravel())
predictions=train_mode.predict(x_test)

print("MSE=",np.sqrt(mean_squared_error(y_test,predictions)))

MSE= 1.2747548783981961

c:\Users\User\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [46]:
y_test

383     0
34     15
29     11
185    11
217     8
126    11
389     0
31     17
311    13
150     0
188     9
236    13
181    12
225     7
37     15
214    10
386     6
385    10
269     0
344    10
270     9
202    10
63      9
11     12
20     15
137     0
100     5
195    15
334     0
114     9
67      6
357    11
359    16
201    10
350     8
81     11
141     9
253     8
332     0
2      10
Name: G3, dtype: int64

In [51]:
er = pd.Series(y_test - predictions)

In [52]:
er

383    0
34     1
29     0
185   -1
217    0
126    1
389    0
31     2
311    2
150    0
188   -2
236    1
181   -2
225   -2
37    -2
214    0
386   -2
385    0
269    0
344   -1
270    0
202    0
63    -1
11     2
20     0
137    0
100    0
195    0
334    0
114   -2
67    -2
357   -2
359    1
201    0
350   -2
81     0
141    0
253   -2
332    0
2      2
Name: G3, dtype: int64